@{
    ViewBag.Title = "Dashboard";
}
<head>
    <link rel="stylesheet" type="text/css" href="../Content/nav-bar.css">
    <link rel="stylesheet" href="../font-awesome-4.6.1/css/font-awesome.min.css">
    @Styles.Render("~/Content/styleD.css")
</head>

<body>

    <!--.preloader-->
    <div class="preloader"></div>
    <!--/.preloader-->
    @Html.Partial("NavBarD")
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="margin: 0 auto;">
                <h3>Setup</h3>
            </div>

            <!--Product-->
            <div class="widgetopa">
                <div class="col-sm-3 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms" style="margin: 0 auto;">
                    <a href="@Url.Action("Product","Software")">
                        <div class="panel panel-blue">

                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div><h3 class="h3-navbar"> Product</h3></div>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer panel-blue-footer">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>


            <!--Client-->

            <div class="widgetopa">
                <div class="col-sm-3 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms" style="margin: 0 auto;">
                    <a href="@Url.Action("Client","Software")">
                        <div class="panel panel-blue">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div><h3> Client</h3></div>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <i class="fa fa-building fa-5x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer panel-blue-footer">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!--Staff-->

            <div class="widgetopa">
                <div class="col-sm-3 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms" style="margin: 0 auto;">
                    <a href="/Software/Staff">
                        <div class="panel panel-blue">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div><h3> Staff</h3></div>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <i class="fa fa-users lg fa-5x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer panel-blue-footer">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!--User-->

            <div class="widgetopa">
                <div class="col-sm-3 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms" style="margin: 0 auto;">
                    <a href="@Url.Action("Users","Software")">
                        <div class="panel panel-blue">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div><h3> User</h3></div>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <i class="fa fa-user lg fa-5x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer panel-blue-footer">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-sm-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1100ms" style="margin: 0 auto;">
                <h3>Activities</h3>
            </div>


            <!--Task-->

            <div class="widgetopa">
                <div class="col-sm-3 hovereffect wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="1100ms" style="margin: 0 auto;">
                    <a href="@Url.Action("Task","Software")">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div><h3>Task</h3></div>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <i class="fa fa-tasks lg fa-5x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer panel-green-footer">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-sm-9" style="margin: 0 auto;">
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1300ms" style="margin: 0 auto;">
                <h3>Reports</h3>
            </div>

            <!--Calls-->

            <div class="widgetopa">
                <div class="col-sm-3 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="1300ms" style="margin: 0 auto;">
                    <a href="@Url.Action("Calls","Software")">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div><h3>Calls</h3></div>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <i class="fa fa-phone lg fa-5x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer panel-red-footer">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-sm-9" style="margin: 0 auto;">
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/wow.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Html.Partial("Footer")
</body>